# Core app libraries
streamlit
pandas
matplotlib
altair

# ML and data prep
scikit-learn
xgboost
joblib

# NLP for sentiment
sentence-transformers

# Deep learning hybrid model
tensorflow>=2.19.0


# APIs & HTTP requests
requests
vaderSentiment
